.Rproj.user
.Rhistory
.RData
.Ruserdata
1000rndpep_rightfreq.csv
1000rndpep_rightfreq.txt
ODX790_30_cl0.csv
100ODXsel.csv
3D_LO.pdf
Clusters20Reprsnt.pdf
ClustersReprsnt.pdf
DB0.Rproj
Elbow.pdf
IEDB6nd7
KLDBycl.csv
KLDbycl.pdf
ODX10.png
ODX10.txt
ODX3.png
ODX3.txt
ODX790_30_cl1N2.csv
ODXsel.txt
ODXsel.xlsx
ODxs790_30.out
PWMtests.xlsm
Presentation1.pptx
Suppl_LOHIST.pdf
Suppl_LOHIST1.pdf
aaNN.csv
aaNN.txt
d3h_odx79030pwmx.png
dbin
genPWM.jpg
genPWM.pdf
generalPwKLDLogo.jpg
generalwKLDLogo.jpg
hecterplot.R
hmodx79030pwmx.pdf
oedx79030pwmxcluster_aaorder.csv
othercl77.jpg
pcaODXs.pdf
pcaODXsvarImportance.xlsx
pepnegrndsample.csv
peppossample.csv
ratios.txt
selected.txt
therest.txt
therestsel.txt
tsne20ODXs790azsc.pdf
tsne20ODXs790pepposzsc.pdf
tsne20mixp1000cl.pdf
tsne20mixp1000clN.pdf
tsne20mixp1000clre.pdf
tsne20mixpazsc_RB.pdf
tsne20mixpselcl.pdf
tsne20rndp1zsc.pdf
tsneC104.csv
tsneC407.csv
tsneC447.csv
tsneC481.csv
tsneC706.csv
tsneCl1.csv
tsneCl1.jpg
tsneCl104.jpg
tsneCl138.csv
tsneCl138.jpg
tsneCl407.jpg
tsneCl447.jpg
tsneCl481.jpg
tsneCl550.csv
tsneCl550.jpg
tsneCl62.csv
tsneCl62.jpg
tsneCl706.jpg
tsneCl778.csv
tsneCl778.jpg
tsneODXSSEzsc.pdf
tsneODXSSHzsc.pdf
tsneODXSSTzsc.pdf
tsneODXSSzsc.pdf
tsneODXs790azsc.pdf
tsneODXs790azsc_Dloc.pdf
tsneODXs790pepposzsc.pdf
tsneODXs790zsc
tsneODXs790zsc_50_60_70_80
tsnemixSSzsc.pdf
tsnemixp1000cl.pdf
tsnemixp1000clN.pdf
tsnemixp1000clre.pdf
tsnemixpazsc.pdf
tsnemixpazsc_RB.pdf
tsnemixpselcl.pdf
tsnerndp1zsc
tsnerndp1zsc.pdf
tsnerndp1zsc_50_60_70_80
underrepresented.txt
wKLDofall.png
wsp180218.RData
x.csv
zsc.txt
uniqueP1_QF.txt
uniqueP1_QR.txt
uniqueP2_QF.txt
uniqueP3_QF.txt
uniqueP3_QR.txt
SeqLogosClODXsvsRnd
clusters_0_789_PWM
pcaODxs.rda
